.body {
	margin: 6px;
	background-color: rgb(60,179,113);
}
/* Navbar style */

#home {
	text-align: center;
	background-color: #f5f5dc
}

#home .container-atas {
	margin: 300px;
	padding-top:40px;
	padding-bottom: 50px;
}

#home .isi .container-atas  {
	margin-top: 80px;
	padding-bottom: 70px;

}



/* Carousel style */

.carousel-item {
	height: 700px;
}
.carousel-item img {
	margin-top: 0px;
}
.carousel-item .display-4 {
	margin-top: -450px
}
.carousel-item .btn{
	background-color: #fffff0
	border: none;
	border-radius: 25px;
	padding-right: 25px
	margin-top:40px;
}